body {
  background-color: #0f041c;
  color: #fff;

  font-family: satoshi;
  margin: 0;

  height: 100vh;
}

/* header */

#header-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 256px;
}

#title {
  display: flex;
  color: #3ddeed;
  font-family: "Sarpanch", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

#title h3 {
  display: inline;
}

#b {
  color: #fff;
}

#header-btn {
  display: flex;
  gap: 32px;
}

#header-btn a {
  color: rgba(255, 255, 255, 0.8);
  font-family: Satoshi;
  text-decoration: none;
}

#father-box {
  display: flex;
  gap: 32px;
}

#father-box input {
  border-style: none;
  background-color: rgba(44, 44, 44, 0);
  font-family: satoshi;
  color: #7b678a;
  font-size: 16px;
  font-weight: 400;
  width: 250px;
  height: 100%;
  padding-left: 24px;
}

#father-box button {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
}

#father-box button:hover {
  cursor: pointer;
}

#search-box {
  display: flex;
  width: 336px;
  height: 46px;
  align-items: center;
  gap: 16px;

  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

/* pg-1 */

#waves {
  position: absolute;
  z-index: 1;

  width: 100vw;
}

#virtual {
  margin: 96px 0px 0px 256px;

  width: 630px;
  position: absolute;
}

#virtual h1 {
  color: #fff;
  font-family: Satoshi;
  font-size: 80px;
  font-weight: 700;
  line-height: 120%; /* 96px */
  letter-spacing: -1.6px;
}

#virtual h3 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}

#virtual h5 {
  color: rgba(255, 255, 255, 0.8);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%; /* 24px */
  margin: 0;
}

#step {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

#btns {
  display: flex;
  margin: 40px 0px 40px 0px;
  gap: 24px;
}

#visit {
  width: 184px;
  height: 56px;

  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;

  border-radius: 4px;
  background: #3ddeed;
  box-shadow: 0px 20px 49px 0px rgba(61, 222, 237, 0.17);
  border-style: none;
}

#visit p {
  color: #182627;
  text-align: center;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 500;
}

#explore {
  width: 145px;
  height: 56px;

  display: inline-flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  background-color: rgba(255, 255, 255, 0);

  color: #fff;
}

#explore p {
  color: #fff;
  text-align: center;
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 500;
}

#media {
  display: flex;
  gap: 12px;
}

#media div {
  width: 44px;
  height: 44px;

  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  justify-content: center;
  align-items: center;
}

#hero {
  width: 995px;
  height: 636px;

  margin: 88px 0px 0px 859px;

  position: absolute;
  z-index: 2;

  display: flex;
}

#oculus {
  margin: 32px 0px 0px 187px;

  width: 575px;
  height: 533px;
}

#pros {
  display: flex;
  align-items: center;
  gap: 57px;

  height: 32px;

  position: absolute;

  margin: 606px 0px 0px 189px;
}

#pros div {
  display: flex;
  gap: 24px;
}

#pros h4 {
  margin: 0;
}

#hello {
  position: absolute;
}

#games {
  width: 137.043px;
  height: 84.697px;

  position: absolute;

  margin: 138px 0px 0px 693px;
}
